@font-face {
  font-family: "Brockmann Regular";
  src: url(https://raw.githubusercontent.com/wmorancolum/wmoran-grde-240/blob/main/brockmann-regular-webfont.woff2) format('woff');
  font-weight: 400;
  font-style: normal;
}
